In [1]:
#191103518_TIA_4A1

# NO. 1 Program Konversi suhu

#FAHRENHEIT
c = float(input("Masukan Celcius "))
f = 9/5 * c + 32
print("Maka nilainya Fahrenheit adalah ", f)

#REAMUR
r = 4/5 * c 
print("Maka nilainya Reamur adalah ", r)

Masukan Celcius 24
Maka nilainya Fahrenheit adalah  75.2
Maka nilainya Reamur adalah  19.200000000000003

In [3]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

if db.is_connected():
    print("Berhasil terhubung ke database")

Berhasil terhubung ke database

In [11]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

cursor = db.cursor()
cursor.execute("CREATE DATABASE db_film")

print("Database berhasil dibuat!")

Database berhasil dibuat!

In [14]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)
cursor = db.cursor()
sql = """CREATE TABLE tblfilm (
    kode_id INT AUTO_INCREMENT PRIMARY KEY,
    judulfilm VARCHAR(225),
    jenis_film varchar(225)
)
"""
cursor.execute(sql)

print("Tabel Film berhasil dibuat !")

Tabel Film berhasil dibuat !

In [30]:
#A. INSERT FILM

import mysql.connector

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)

cursor = db.cursor()
sql = "INSERT INTO tblfilm (judulfilm, jenis_film) VALUES (%s, %s)"
val = ("X-Men: Dark Phoenix", "Action")
cursor.execute (sql, val)

db.commit()

print("{} data ditambahkan".format(cursor.rowcount))

1 data ditambahkan

In [31]:
import mysql.connector

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)

cursor = db.cursor()
sql = "INSERT INTO tblfilm (judulfilm, jenis_film) VALUES (%s, %s)"
values = [
    ("Aladdin","Fantasy"),
    ("Godzilla II:King of the Monsters","Fantasy"),
    ("John Wick: Chapter 3 - Parabellum","Action")
]

for val in values:
    cursor.execute(sql, val)
    db.commit()

print("{} data ditambahkan".format(len(values)))

3 data ditambahkan

In [32]:
import mysql.connector

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)

cursor = db.cursor()
sql = "SELECT * FROM tblfilm"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
    print(data)

(2, 'X-Men: Dark Phoenix', 'Action')
(7, 'X-Men: Dark Phoenix', 'Action')
(8, 'Aladdin', 'Fantasy')
(9, 'Godzilla II:King of the Monsters', 'Fantasy')
(10, 'John Wick: Chapter 3 - Parabellum', 'Action')

In [39]:
import mysql.connector

db = mysql.connector.connect(
     host="localhost",
     user="root",
     passwd="",
     database="db_film"
)

cursor = db.cursor()
sql = "SELECT * FROM tblfilm"
cursor.execute(sql)

result = cursor.fetchone()

print(result)

(2, 'X-Men: Dark Phoenix', 'Action')

In [50]:
#B. Update film

import mysql.connector

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)

cursor = db.cursor()
sql = "UPDATE tblfilm SET judulfilm=%s, jenis_film=%s WHERE kode_id=%s"
val = ("X-Men: Dark Phoenix", "Fantasy Action", 2)
cursor.execute(sql, val)

db.commit()

print("{} data diubah".format(cursor.rowcount))

1 data diubah

In [52]:
#C. Delete data

import mysql.connector

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)

cursor = db.cursor()
sql = "DELETE FROM tblfilm WHERE kode_id=%s"
val = (2, )
cursor.execute(sql, val)

db.commit()

print("{} data dihapus".format(cursor.rowcount))

1 data dihapus

In [94]:
#Cari Film

import mysql.connector
import os

db = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="",
   database="db_film"
)
def search_film(db):
    cursor = db.cursor()
    keyword = input("Kata kunci: ")
    sql = "SELECT * FROM tblfilm WHERE name judulfilm %s OR jenis_film %s"
    val = ("%{}%".format(keyword), "%{}%".format(keyword))
    cursor.execute(sql, val)
    results = cursor.fetchall()
    
if cursor.rowcount < 0 :
        print("Tidak ada film")
    else:
        for data in results :
            print(data)
          
    def show_film(db):
    print("=== APLIKASI DATABASE FILM ===")
    print("1. Insert Data")
    print("2. Tampilkan Data")
    print("3. Update Data")
    print("4. Hapus Data")
    print("5. Cari data")
    print("0. Keluar")
    print("-------------------------------")
    menu = input("Pilih menu")

    os.system("clear")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 22)